<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PDVnetConnection" connectionString="Server=localhost;Database=GestaoProdutosDB;User Id=sa;Password=Figure09LP$;Encrypt=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>